{% extends 'bsr/base.html' %}


{% load staticfiles %}

{% block heading %}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/study/css/main.css?ver=213654">


<div class="content">
  <div class="main_content">
    <div class="main_content_name"><h1>Login</h1></div>
      <div class="Login" style="width: 90% ;margin-left: 5%; margin-right:5% ; margin-top: 5%;">
        <form method="POST" class="login-form" action="{% url 'login' %}">
        {% csrf_token %}

        <input type="hidden" name="next" value="{{next}}">
        <!-- {{ form.as_p }} -->
        <div class="login_input" style="  border: 0.1vw solid #777; display: flex; flex-direction: column;">
           <div class="form-group" style="margin: 1vw;">
            <label for="{{ form.username.id_for_label }}"> User  ID :</label>
            <input class="form-control" style=" width: 25%; height: 1.3vw; border-radius: 5px;" id="{{ form.username.id_for_label }}" maxlength="15" name="{{ form.username.html_name }}" type="text" />
        </div>
        <div class="form-group" style="margin: 1vw;">
          <label for="{{ form.password.id_for_label }}">Password :</label>
          <input class="form-control" style=" width: 25%; height: 1.3vw; border-radius: 5px;" id="{{ form.password.id_for_label }}" maxlength="120" name="{{ form.password.html_name }}" type="password" />
        </div>

        </div>
        <div style="display: flex; width: 20%; margin-left: 80%;  margin-top: 1vw; justify-content: space-between;">
          <input type="submit" class="save btn btn-success" value="Login" style="height: 2vw; width: 4vw; border-radius: 5px; background-color: #DC5E44; color: #FFFFFF; font-size: 0.7vw;">
          <a href="{% url 'study:post_list' %}">
          <button type="button" class="btn btn-danger" style="height: 2vw; width: 4vw; border-radius: 5px; font-size: 0.7vw; font-weight: bold;">cancel</button>
        </a>
        </div>
        </form>
        <div style="width: 50%; margin-left: 25%; margin-right: 50%;margin-top: 5%;">
          <span class="signup-guide">아이디가 없으신가요? <a href="{% url 'signup' %}" style="border: 0.05vw solid #777; padding: 0.2vw;"><mark>Sign up </mark>Click!</a></span>  
        </div>
        
      </div>
    </div>
  </div>
</div>


{% endblock content %}
