{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>GNU 공과대학 회의실 어울마루</title>

    <link rel="stylesheet" href="/static/reservation/css/blog_style.css?ver=28725">

    <!-- Custom Fonts -->
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>
    <link href="{% static 'bsr/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>jQuery UI Datepicker - Default functionality</title>
      <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
      <link rel="stylesheet" href="/resources/demos/style.css">
      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script>
      $( function() {
        $( "#datepicker" ).datepicker();
      } );
      </script>

</head>
<body>

    <!-- Navigation -->
    <!-- <nav class="navbar navbar-default navbar-custom navbar-fixed-top"> -->
        <!-- <div class="container-fluid"> -->
            <!-- Brand and toggle get grouped for better mobile display -->
       <!--      <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button> -->
<!--                 <a class="navbar-brand" href="{% url 'study:post_list' %}">몽키와 선샤인의 영어공부</a> -->
            <!-- </div> -->

            <!-- Collect the nav links, forms, and other content for toggling -->
        <div class ="deco">
            <div class="deco_img">       
                <a href="/"><img src="{% static 'reservation/img/AUL_MARU.PNG' %}"  style=" margin-left: 15%;  height: 50%; width: 70%; " /></a>
            </div>
        </div>

            <!-- /.container -->
        <div id="menu">
                <li class="first"><a href="{% url 'Room_Reservation' %}">RESERVATION</a></li>
                <li class = "first"><a href="{% url 'study:post_list' %}">NOTICE</a></li>
                <li class="first"><a href="{% url 'study:agora_list' %}">AGORA</a></li>
                <li class="first">
                    {% if user.is_active %}
                    <a href="{% url 'logout' %}" style="">Logout</a>
                    {% else %}
                    <a href="{% url 'login' %}">Login</a>
                    {% endif %}
                </li>
                    {% if user.is_authenticated %}
                <li>
                    <span class='username'>{{ user.username }}</span>
                </li>
                    {% endif %}
        </div>


    <!-- Page Header -->

  {% block heading %}
  {% endblock %}

        <!-- <div class="content container"> -->
        <div class="row">
             <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                    <p class="copyright text-muted">Made by &copy; 박수빈 2018</p></a>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{% static 'bsr/vendor/jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'bsr/vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{% static 'bsr/js/jqBootstrapValidation.js' %}"></script>
    <script src="{% static 'bsr/js/contact_me.js' %}"></script>

    <!-- Theme JavaScript -->
    <script src="{% static 'bsr/js/clean-blog.min.js' %}"></script>

</body>

</html>
