{% extends 'bsr/base.html' %}
{% load staticfiles %}


{% block heading %}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/study/css/main.css?ver=687"> 
    <div class="content">
        <div class="main_content">
        	<br>
			<div class="main_content_name">INTRODUCTION</div>
				<div class="main_content_unit">
					<!-- 여기 홈페이지 내용 -->
					<div class="intro">
						<br>
                    	<p><h2 style="text-align: center; ">어울마루 인사말</h2></p>
						<br>
						<p style="width: 90%; margin-left: 5%;">우리 경상대학교 공과대학은 이제 교수님 수가 130명이 되는 큰 조직입니다. 90년대 중반까지만 해도 공대는 비교적 규모가 작아서 학과를 초월하여 교수님들간 왕래도 많았고, 외풍을 맞아서도 늘 ‘공대는 하나다’라는 생각으로 잘 뭉쳐왔습니다. 하지만 정부의 정책과 내∙외부 환경의 변화로 인하여 우리가 간직했던 이러한 장점이 서서히 퇴색이 되고 있는 현 시점에서, 공대 교수님들께서 시시때때로 함께 어울리고, 소통하며, 서로 위하는 문화를 조성하기 위한 공간을 만들었습니다.</p>
						<br>
						<p style="width: 90%; margin-left: 5%;">401동 1층 113호에 자리를 잡고 있는데, 이 이름은 순수 한글로 ‘어울리다’의 어근인 ‘어울’에 ‘마루’를 붙인 것입니다. 평소에는 회의실, 라운지, 갤러리로 공간을 나누어 이용할 수 있도록 하였고, 필요 시 공간을 하나로 연결하여 공대의 주요 행사도 개최할 수 있도록 했습니다. 어울마루에는 빔 프로젝터, 모니터, 화이트보드 등 회의시설, 커피, 차, 음료를 마실 수 있는 도구, 화가의 작품, 오디오 시설이 구비되어 있습니다.
						어울마루는 다음과 같은 용도로 사용되고 있습니다:
						</p>
						<br>
						<p style="width: 90%; margin-left: 5%; border:0.08vw solid #ccc; padding-left: 2%; padding-top: 1%; padding-bottom: 1%;">
						1)	공대 교직원들이 어울림<br>
						2)	외부 손님 접견<br>
						3)	학내∙외 인사 초빙 좌담회<br>
						4)	교육, 연구, 학생지도 토론회<br>
						5)	공대 주요사업 진행을 위한 TF 활동<br>
						6)	10명 이하의 대학원생들을 대상으로 한 세미나 등<br>
						</p>
						<br>

						<p style="width: 90%; margin-left: 5%;">앞으로 어울마루는 공대 구성원이 좋은 방향으로 함께 만들어가는 공간이 되었으면 좋겠습니다. 공대 교수님들께서 다양한 용도로 사용을 하셔서 ‘소통을 통한 공대 발전’에 좋은 역할을 해 주시기를 바랍니다.
						이 자리를 빌어 어울마루 조성에 그간 도움을 주신 고성룡, 문선옥, 김성배, 전차수 교수님, 이은희 작가, 홈페이지 제작을 해 주신 이선아 교수님과 박수빈 학생, 어울마루 운영에 도움을 주시는 공대 행정실 직원분들께 감사를 드리며, 향후 어울마루를 적극 활용하여 공대 발전에 일익을 담당하실 모든 분들께 미리 감사의 말씀을 올립니다. </p>
						<br>

						<p style="width: 90%; margin-left: 5%; font-size: 18px;"><strong>변재현 드림</strong></p>
					
                	</div>
					
				</div>
		</div>
	</div>
{% endblock content %}
