{% extends 'bsr/base.html' %}
{% load staticfiles %}

{% block heading %}
{% endblock %}
{% block content %}
<link rel="stylesheet" href="/static/study/css/main.css?ver=213654">

        <div class="content">
            <!--메인 영역-->
            <div class="main_content">
                <br>
                <div class="main_content_name"><h1>New AGORA</h1></div>
                <div class="add_post"  style="width: 90% ;margin-left: 5%; margin-right:5% ; ">
                <form method="POST" class="login-form col-md-12" enctype="multipart/form-data">
                  {% csrf_token %}
                  <input type="hidden" name="next" value="">
                  {{form.non_field_errors}}
                  <div>
                    {{form.title.errors}}
                    <label for="id_title"> 제 목 :</label>
                    <input id="id_title" maxlength="20" name="title" tpye="text">
                  </div>
                  <div style="width: 95%; ">
                    {{form.content.errors}}
                    <br>
                    <label for="id_content"></label>
                    {{form.content}}
                  </div>


                  <div class="add_post_control" style="display: flex;width: 25%; margin-top: 1vw; justify-content: space-between;">
                    <button type="submit" class="save btn btn-default"  style="height: 1.5vw; width: 3.5vw; border-radius: 5px; background-color: #DC5E44; color: #FFFFFF; font-size: 0.7vw;">save</button>

                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    <a href="{% url 'Room_Reservation' %}" >
                    <button type="button" class="btn btn-danger" style="height: 1.5vw; width: 3.5vw; border-radius: 5px; font-size: 0.7vw; font-weight: bold;">cancel</button>
                    </a>
                  </div>     
                  </form> 
                    
                  </div>       
                </div>
            </div>

<!-- 
<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
</div> -->
{% endblock content %}
